* {
    box-sizing: border-box;
}

body {
    background-color: #ffe4c4;
    color: #362e2e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

p, div, img { 
    display: block;
    text-align: center;
    margin: auto;
}

a {
    color: rgb(206, 30, 30);
}

.linkcard, .recipecard {
    background-color: rgb(255, 240, 221);
    border: 2px #362e2e solid;
}

.recipecard {
    margin: auto;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 500px;
    text-align: left;
}

.recipecard h2 {
    text-align: left;
}

.linkcard {
    display: inline-block;
    padding: 20px;
    margin: 5px;
}